@model IEnumerable<GummyBearsForever.Models.Inventory>
@{
    ViewData["Title"] = "Gummy Bears Forever";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h3 class="heading">Current Inventory</h3>

    <div class="row">
        @foreach (var item in Model)
        {

            <div class="col xs4 s4 m4">
                <div class="card white">
                    <div class="card-content black-text">
                        <span class="card-title">@item.GummyName</span>
                        
                    </div>
                    <div class="card-action">
                        <p>@Html.ActionLink("Details", "Details", new { id = item.GummyId }) </p>
                        
                    </div>
                </div>
            </div>
        }
    </div>

    
<h3>@Html.ActionLink("Add a new gummy", "Create")</h3>
