@{
    ViewData["Title"] = "Gummy Bears Forever";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="heading">
    <h4>North America's Largest Gummy Bear Wholesaler</h4>
</div>
<div class="before-fold">
    @Html.ActionLink("Inventory", "Index", "Inventory", null);
</div>

